*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background:linear-gradient(45deg, #32ff32,#00df62,#54ffce);
    height: 100vh;
}

.foto img {
    width: 250px ;
    height: 350px;
    position: fixed;
    top: 250px;
    right: 800px;

}

/* navbar */

.logo {
    display: flex;
    align-items: center;
    /* background-color: tomato; */
    font-size: 48px;
    cursor: pointer;
    color: white;
}

.navbar {
    background-color: #222222 ;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
}

.navbar ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

.navbar a {
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    padding: 8px 0;
    transition: all 300ms;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-family: 'Segoe UI', sans-serif;
}

.navbar a:hover {
    border-bottom: 2px solid white;
}

.tool {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tip {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 125%; /* Posisi di atas elemen yang di-hover */
    left: 50%;
    margin-left: -80px; /* Menyesuaikan lebar */
    opacity: 0;
    transition: opacity 0.3s;
}

.tip::after {
    content: "";
    position: absolute;
    bottom: 100%; /* Di bagian bawah tooltip */
    left: 47%;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #555;

}

.tool:hover .tip {
    visibility: visible;
    opacity: 1;
}

.tip1 {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 125%; /* Posisi di atas elemen yang di-hover */
    left: 50%;
    margin-left: -80px; /* Menyesuaikan lebar */
    opacity: 0;
    transition: opacity 0.3s;
}

.tip1::after {
    content: "";
    position: absolute;
    bottom: 100%; /* Di bagian bawah tooltip */
    left: 47%;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #555;
}

.tool:hover .tip1 {
    visibility: visible;
    opacity: 1;
}
/* navbar-end */


@media only screen and (max-width: 768px) {
    .navbar {
        flex-wrap: wrap;
        padding-bottom: 0;
    }

    .navbar ul {
        display: flex;
        align-items:flex-end;
        flex-direction: column;
        width: 100%;
        padding-top: 3%;
        margin-right: 3%;
        overflow: hidden;
        max-height: 500px;
        transition: .68s ease-out;
    }

    ul.hidden {
        max-height: 0;
        /* display: none; */
    }

    .navbar li:last-of-type {
        padding-bottom: 20px;
        padding-top: 8px;
    }

    .navbar a {
        font-size: large;
        font-weight: 600;
    }

    .tip {
        visibility: hidden;
        width: 160px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        top: 20%; /* Posisi di atas elemen yang di-hover */
        left: 100%;
        margin-left: -280px; /* Menyesuaikan lebar */
        opacity: 0;
        transition: opacity 0.3s;
        font-size: 15px;
    }

    .tip::after {
        content: "";
        position: absolute;
        top: -5%; /* Di bagian bawah tooltip */
        left: 98%;
        border-bottom: 15px solid transparent;
        border-top: 15px solid transparent;
        border-left: 15px solid #555;
    }

    .tip1 {
        visibility: hidden;
        width: 180px;
        background-color: #555;
        color: #fff;
        text-align: 10px;
        border-radius: 5px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        top: 20%; /* Posisi di atas elemen yang di-hover */
        left: 80%;
        margin-left: -280px; /* Menyesuaikan lebar */
        opacity: 0;
        transition: opacity 0.3s;
        font-size: 15px;
    }

    .tip1::after {
        content: "";
        position: absolute;
        top: -5%; /* Di bagian bawah tooltip */
        left: 98%;
        border-bottom: 15px solid transparent;
        border-top: 15px solid transparent;
        border-left: 15px solid #555;
    }

    .menu-list {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        /* border: 3px solid #fff; */
      }
      .icon {
        width: 45px;
        height: 3px;
        background: white;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255,101,47,.2);
        transition: all .5s ease-in-out;
      }
      .icon::before,
      .icon::after {
        content: '';
        position: absolute;
        width: 45px;
        height: 3px;
        background: white;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255,101,47,.2);
        transition: all .5s ease-in-out;
      }
      .icon::before {
        transform: translateY(-16px);
      }
      .icon::after {
        transform: translateY(16px);
      }
      /* ANIMATION */
      .menu-list.open .icon {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
      }
      .menu-list.open .icon::before {
        transform: rotate(45deg) translate(35px, -35px);
      }
      .menu-list.open .icon::after {
        transform: rotate(-45deg) translate(35px, 35px);
      }
    
}